---
// Importamos componentes o utilidades si fueran necesarios en el futuro
import Header from "../features/shared/components/Header.astro";
import Footer from "../features/shared/components/Footer.astro";

import "../styles/global.css";
import WhatsAppButton from "../features/shared/components/WhatsAppButton.jsx";

// Definimos las "props" que cada página podrá pasar a este Layout.
// Esto es clave para que el SEO sea dinámico y específico para cada página.
export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <title>{title} | Young Warriors Club</title>
        <meta name="description" content={description} />

        <meta property="og:title" content={`${title} | Young Warriors Club`} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url.href} />
        <meta
            property="og:image"
            content={new URL("/images/social-preview.jpg", Astro.url)}
        />
        <meta property="og:locale" content="es_PE" />
        <meta property="og:site_name" content="Young Warriors Club" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={`${title} | Young Warriors Club`} />
        <meta name="twitter:description" content={description} />
        <meta
            name="twitter:image"
            content={new URL("/images/social-preview.jpg", Astro.url)}
        />

        <link rel="canonical" href={Astro.url.href} />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <WhatsAppButton client:load />
    </body>
</html>
