---
const { posts } = Astro.props;
---

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {
            posts.length > 0 ? (
                posts.map((post) => (
                    <tr>
                        <td>{post.id}</td>
                        <td>{post.title}</td>
                        <td>{post.category}</td>
                        <td class="action-links">
                            <a href={`/admin/editarPost?id=${post.id}`}>
                                Editar
                            </a>
                            <a
                                href={`/api/admin/eliminar-post?id=${post.id}`}
                                class="delete-btn"
                                data-title={post.title}
                            >
                                Eliminar
                            </a>
                        </td>
                    </tr>
                ))
            ) : (
                <tr>
                    <td colspan="4">No hay artículos registrados.</td>
                </tr>
            )
        }
    </tbody>
</table>

<script>
    const deleteButtons = document.querySelectorAll(".delete-btn");

    deleteButtons.forEach((button) => {
        button.addEventListener("click", (event) => {
            const title = button.getAttribute("data-title");
            const confirmed = confirm(
                `¿Estás seguro de que quieres eliminar "${title}"?`,
            );

            if (!confirmed) {
                event.preventDefault();
            }
        });
    });
</script>
